
numpy
matplotlib
seaborn
beautifulsoup4
pandas
XlsxWriter
xlwt
xlrd
opencv-python
openpyxl
requests
pathlib
nltk
textblob
autopep8
matplotcheck
nbgrader
nbclean
tensorflow
tensorflow-gpu
scikit-learn
opencv
cudnn
streamlit
Flask
gunicorn==20.0.4
uwsgi


