
numpy
matplotlib
seaborn
beautifulsoup4
pandas
XlsxWriter
xlwt
xlrd
openpyxl
requests
pathlib
nltk
textblob
autopep8
matplotcheck
nbgrader
nbclean
scikit-learn
opencv
cudnn
streamlit
Flask
gunicorn==20.0.4
uwsgi


