
numpy
matplotlib
seaborn
beautifulsoup4
pandas
XlsxWriter
xlwt
xlrd
openpyxl
requests
pathlib
nltk
textblob
autopep8
matplotcheck
nbgrader
nbclean
tensorflow
tensorflow-gpu
scikit-learn==0.23.2
opencv
cudnn
streamlit
Flask
gunicorn==20.0.4
uwsgi


